

/*  IMPORT  */

/* header h1 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*  header h3 */

/*  header h4 */

/*  .wrapper  */

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





/*  CSSZIN  */

body {
    background-color: #e1b845a7;
    max-width: 100vh;
    max-height: 100vh;
}

header {
    height: 20vh;
}

header h1 {
    align-items: center;
    color: #630b0b;
    display: flex;
    font-family: 'Playfair Display SC', serif;
    font-size: 3vh;
    font-weight: 600;
    justify-content: center;
    padding-top: 4vh;
}
header h3 {
    align-items: center;
    color: #8e8b8b69;
    display: flex;
    font-size: 1.5vh;
    font-weight: 600;
    justify-content: flex-end;
    padding: 1vh 2vh 0 0;
}
header h4 {
    align-items: center;
    color: #000000;
    display: flex;
    justify-content: center;
}

.img {
    align-items: center;
    display: flex;
    justify-content: center;
}

header img {
    width: 8vh;
}

main {
    align-items: center;
    display: flex;
    font-size: 3vh;
    height: 60vh;
    justify-content: center;
}

.players,
.players1 {
    align-items: center;
    color: #3f2709e6;
    display: flex;
    font-weight: bold;
    justify-content: center;

}

.wrapper {
    align-items: center;
    color: #6c4617d6;
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.minus, .num, .plus {
    margin-bottom: 5vh;
}

.minus, .minus1 {
    padding: 2vh 3vh 2vh 20vh;
}

.plus, .plus1 {
    padding: 2vh 20vh 2vh 3vh;
}

.minus, .minus1, .plus, .plus1 {
    cursor: pointer;    
    font-family: 'Bakbak One', cursive;
    color: transparent;
}

.minus:hover, .minus1:hover, .plus:hover, .plus1:hover {
    box-shadow: 1px 1px #cbee57;
    border-radius: 50%;
}

.num, .num1 {
    font-size: 4vh;
    font-weight: 400;
}

/*  BUTTONS  */

footer {
    align-items: flex-start;
    height: 20vh;
    display: flex;
    justify-content: center;
}

#start, #show, #showSecret {
    background: rgb(44, 16, 16);
    border: 1.5px solid black;
    border-radius: 3px;
    color: #f1e3be;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: 600;
}

/* jS Classes */

#transition {    
    align-items: center;
    background-color: #6958ca;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    color: #f1e3be;
    display: flex;
    font-size: 2.5vh;
    font-weight: 600;
    justify-content: center;
    padding: 4vh;
}

.jogador {
    align-items: center;
    color: #3f2709e6;
    display: flex;
    font-size: 3.5vh;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 6vh;
    padding-top: 10vh;
}

.cenario {
    align-items: center;
    color: #6c4617d6;
    display: flex;
    font-size: 2vh;
    justify-content: center;
    padding-bottom: 6vh;
}

.role {
    align-items: center;
    color: #6c4617d6;
    display: flex;
    font-size: 2vh;
    justify-content: center;
    padding-bottom: 12vh;
}

.legend {
    align-items: center;
    color: #3f2709e6;
    display: flex;
    font-size: 3vh;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 1vh;
}

#ast {
    align-items: center;
    display: flex;
    font-size: 5vh;
    font-weight: 600;
    justify-content: center;
    padding: 1vh 2vh 0 2vh;
} 

/*  WEBKIT  */

body,
body::selection {  
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}